*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: rgb(255, 255, 255);
    background-color: rgb(22, 21, 21);

}
div{ 
    height: 900px;
    max-width: 900px;
    min-width: 430px;
    background-image:linear-gradient(rgba(78, 7, 7, 0.651), rgb(40, 40, 40));
    align-items: center;
    margin: auto;
    border-radius: 0 0 30px 30px;
}
h1{
    padding-top: 4px;
    text-align: center;
}
h2{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
p{
    text-align: center;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
footer{
    color: white;
    text-align: center;
}
